version: "3.9"

services:
  mongo:
    image: mongo:6.0
    container_name: minimart-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: minimart-backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    command: npm start

volumes:
  mongo_data:
