
services:
  backend:
    build: .
    container_name: minimart-backend
    command: npm start
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/minimart
      - JWT_SECRET=supersecretkey
      - NODE_ENV=development
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    container_name: minimart-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
